<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controladores.ControladorSugerencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReclamacion</servlet-name>
        <servlet-class>Controladores.ControladorReclamacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>Controladores.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>Controladores.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPreguntaFrecuente</servlet-name>
        <servlet-class>Controladores.ControladorPreguntaFrecuente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <servlet-class>Controladores.AgregarProductoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReclamacion</servlet-name>
        <url-pattern>/ControladorReclamacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ControladorPreguntaFrecuente</servlet-name>
        <url-pattern>/ControladorPreguntaFrecuente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProductoServlet</servlet-name>
        <url-pattern>/AgregarProductoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
